<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>


<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> ECUPET</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="principal.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="donaciones.html">Donaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Adopciones</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="#"> Venta Productos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Campañas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#"> Rescate animal </a></li>
                        <li><a class="dropdown-item" href="#"> Convivenvcia responsable </a></li>
                        <li><a class="dropdown-item" href="#"> Esterilización<nav></nav> </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="#"> Felinos en casa / aves seguras </a></li>
                </li>

            </ul>
            </li>

            <li class="nav-item ">
                <a class="nav-link active" href="#"> Voluntariado</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="nbutto"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Programas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#"> Servicio médico veterinario </a></li>
                    <li><a class="dropdown-item" href="#"> Rescate animal</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="#"> Animales en desastres </a></li>
            </li>

            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="contactos.html">Contáctenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="login.html">Iniciar sesión</a>
            </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>


</nav>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://adoptame.ec/wp-content/uploads/2019/07/bg3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://www.miradaanimal.cl/wp-content/uploads/2018/05/Ficha_Home_01_2018_950x400px_01a.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://zarpa.org/wp-content/uploads/2015/02/Proceso-adopci%C3%B3n-perros-e1474223751983.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://www.miradaanimal.cl/wp-content/uploads/2018/05/Ficha_Home_01_2018_950x400px_03.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://www.miradaanimal.cl/wp-content/uploads/2018/05/Ficha_Home_01_2018_950x400px_02_a.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<br>
<center>
    <!--Titulo sobre conocer más -->
    <h1 class="text-white bg-success">DONACIONES</h1>
</center>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://zonadigital.pichincha.pe/assets/img/seo/pichincha_logo_facebook.jpg" width="80%" height="200" 
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">BANCO PICHINCHA </h5>
                    <p class="card-text">
                        Centa de Ahorros <br>

                        N° 0200586034<br>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://i0.wp.com/scalashopping.com/wp-content/uploads/2018/08/NuevoLogoPBO-1024x683.jpg" width="80%" height="200"  class="card-img-top"
                    alt="..." />
                <div class="card-body">
                    <h5 class="card-title">PRODUBANCO</h5>
                    <p class="card-text">
                        Centa de Ahorros <br>

                        N° 0200586034<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://www.edina.com.ec/logos/2210107055-393664.jpg" width="80%" height="200"  class="card-img-top"
                    alt="..." />
                <div class="card-body">
                    <h5 class="card-title">BANCO INTERNACIONAL</h5>
                    <p class="card-text">
                        Centa de Ahorros <br>

                        N° 0200586034<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col ">
            <img src="https://st2.depositphotos.com/1146092/5821/i/600/depositphotos_58217821-stock-photo-donation-dog.jpg"  width="80%" height="450" 
                class="d-block w-100" alt="...">
        </div>
        <div class="col text-success ">
            <h2> AYUDANOS !! </h2>
            <div class="col text-secondary ">
                <p>La tarea diaria de rescatar y recibir animales de familia como perros y gatos,
                    abandonados, maltratados y en estado de indefensión, es en extremo demandante debido a su alto número. La
                    idiosincrasia local que deriva en una mala tenencia de estos animales y que además se ve agravada por la falta
                    de políticas públicas y las que existen, no son claras o adecuadas o no se cumplen, constituyen un desafío mayor
                    que nos rebasa como organización cuyos recursos son limitados.<br>
                    <br>
                    La principal fuente de ingreso de la fundación proviene de la autogestión, por eso, tu donación es muy
                    importante para que podamos extender nuestro círculo de ayuda a más animales necesitados.</p> 
            </div>
        </div>
        <div class="w-100"></div>
    </div>
</div>
<center>
    <!--Titulo sobre conocer más -->
    <h1 class="text-white bg-success">AYUDA Y SALVA VIDAS </h1>
</center>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://previews.123rf.com/images/photodeti/photodeti1312/photodeti131200073/24381091-perro-celebraci%C3%B3n-de-d%C3%B3lares-en-su-boca-aisladas-sobre-fondo-blanco.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                        <h5 class="card-title"> USD $ 100</h5>
                    <p class="card-text">
                        Se te debitará por una sola vez de tu tarjeta de crédito o débito.<br>
                        <!--Boton que dirige a dentro de la tarjeta-->
                    </p>
                    <a _ngcontent-hxs-c43="" class="btn btn-outline-secondary btn-sm rounded-pill mx-2 px-4"
                        href="pagotarjeta.html">Donar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://previews.123rf.com/images/photodeti/photodeti1611/photodeti161100100/67305097-perrito-sosteniendo-el-d%C3%B3lar-y-el-euro-en-sus-manos-aislados-en-el-fondo-blanco-.jpg"
                    class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title"> USD $ 50</h5>
                    <p class="card-text">
                        Se te debitará por una sola vez de tu tarjeta de crédito o débito.<br>
                        <!--Boton que dirige a dentro de la tarjeta-->
                    </p>
                    <a _ngcontent-hxs-c43="" class="btn btn-outline-secondary btn-sm rounded-pill mx-2 px-4"
                        href="pagotarjeta.html">Donar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="pagotarjeta.html" class="card-img-top" alt="..." />
                <div class="card-body">
                        <h5 class="card-title">USD $ 25</h5>
                    <p class="card-text">
                        Se te debitará por una sola vez de tu tarjeta de crédito o débito.<br>
                    </p>
                    <a _ngcontent-hxs-c43="" class="btn btn-outline-secondary btn-sm rounded-pill mx-2 px-4"
                        href="pagotarjeta.html">Donar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="bg-success text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f">
                    <img src="https://cdn-icons-png.flaticon.com/512/20/20673.png " width="20" height="20" </i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter">
                    <img src="http://assets.stickpng.com/images/5a2fe479cc45e43754640849.png" width="20" height="20"
                        </i></a>


            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram">
                    <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png " width="20" height="20"
                        class="d-block w-70" alt="..."></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Nando1999/ProyectoApliWeb" role="button"><i class="fab fa-github">
                    <img src="https://es.wizcase.com/wp-content/uploads/2022/03/GitHub-Logo.png" width="40" height="20"
                        </i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

</html>