<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <br>
<center>
    <h2 class="text-info">Tarjetas disponibles</h2>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://www.banco-solidario.com/sites/default/files/2019-01/Tarjetas%20Alia%20Black.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Alia Black</h5>
                    <p class="card-text">
                        Cupo hasta $10.000<br>

                        Súper Avance de efectivo hasta $3.000<br>

                        Avances de efectivo a través de agencias y cajeros<br>

                        800 puntos de bienvenida en el Plan Conmigo*<br>

                        Diferidos de 2 a 36 meses. Tú escoges el plazo<br>

                        Promociones especiales cada semana<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://www.banco-solidario.com/sites/default/files/2019-01/Tarjetas%20Alia%20Platinum.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Alia Platinum</h5>
                    <p class="card-text">
                        Cupo hasta $5.000<br>

                        Súper Avance de efectivo hasta $2.500<br>

                        Avances de efectivo a través de agencias y cajeros<br>

                        500 puntos de bienvenida en el Plan Conmigo*<br>

                        Diferidos de 2 a 36 meses. Tú escoges el plazo<br>

                        Promociones especiales cada semana<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 20px">
            <div class="card" style="width: 18rem">
                <img src="https://www.banco-solidario.com/sites/default/files/2019-01/Tarjetas%20Alia%20Gold.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Alia Gold</h5>
                    <p class="card-text">
                        Cupo hasta $3.000<br>

                        Súper Avance de efectivo hasta $2.000<br>

                        Avances de efectivo a través de agencias y cajeros<br>

                        200 puntos de bienvenida en el Plan Conmigo*<br>

                        Diferidos de 2 a 36 meses. Tú escoges el plazo<br>

                        Promociones especiales cada semana<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>